<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Donate</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
  <link rel="stylesheet" href="./assets/css/app.css"/>
  <link rel="stylesheet" href="./assets/css/style.css"/>
</head>

<body ng-cloak layout="column" ng-controller="AppController as app">

  <!-- toolbar -->
  <md-toolbar layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()"
               aria-label="Show User List">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>Donate</h1>
  </md-toolbar>

  <!-- container -->
  <div flex layout="row" >

    <!-- menu -->
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" ng-click="app.toggleList()">

      <md-list>
        <md-list-item layout="row" id="menu-header">
          <img src="assets/img/perfil.jpg" class="md-avatar" alt="avatar">
          <h2 class="usuario">Hayley</h2>
        </md-list-item>

        <md-list-item layout="column" style="margin-top: -25px">
          <p class="pontos-text">Você possui:</p>
          <h2 class="pontos">865</h2>
          <p class="pontos-text">Pontos</p>
        </md-list-item>
      </md-list>

      <!-- <users-list
          users="app.users"
          selected="app.selected"
          on-selected="app.selectUser(user)">
      </users-list> -->
    </md-sidenav>

    <!-- main content -->
    <md-content flex id="content" layout="row" layout-xs="row" layout-wrap style="overflow: scroll">

      <md-card flex flex-gt-md="30" flex="30" flex-xs="100" flex-gt-xs="100" ng-click="showAdvanced($event)">
        <img src="assets/img/brinquedo.jpg" class="md-card-image" alt="Washed Out">
        <md-card-content>
          <h2 class="md-title">Doação de Brinquedos</h2>
          <p>
            Iniciou, no último dia 19, a Campanha de doação de brinquedos novos ou usados do setor de limpeza e conservação. Organizado pela Federação Nacional das Empresas Prestadoras de Serviços de Limpeza e Conservação...
          </p>
        </md-card-content>
       <!--  <div class="md-actions" layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </div> -->
      </md-card>

      <md-card flex flex-gt-md="30" flex="30" flex-xs="100" flex-gt-xs="100">
        <img src="assets/img/leite.jpg" class="md-card-image" alt="Washed Out">
        <md-card-content>
          <h2 class="md-title">Doação de Leite</h2>
          <p>
            Iniciou, no último dia 19, a Campanha de doação de brinquedos novos ou usados do setor de limpeza e conservação. Organizado pela Federação Nacional das Empresas Prestadoras de Serviços de Limpeza e Conservação...
          </p>
        </md-card-content>
       <!--  <div class="md-actions" layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </div> -->
      </md-card>

      <md-card flex flex-gt-md="30" flex="30" flex-xs="100" flex-gt-xs="100">
        <img src="assets/img/roupa.jpg" class="md-card-image" alt="Washed Out">
        <md-card-content>
          <h2 class="md-title">Doação de Roupa</h2>
          <p>
            Iniciou, no último dia 19, a Campanha de doação de brinquedos novos ou usados do setor de limpeza e conservação. Organizado pela Federação Nacional das Empresas Prestadoras de Serviços de Limpeza e Conservação...
          </p>
        </md-card-content>
       <!--  <div class="md-actions" layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </div> -->
      </md-card>

      <md-card flex flex-gt-md="30" flex="30" flex-xs="100" flex-gt-xs="100">
        <img src="assets/img/sangue.jpg" class="md-card-image" alt="Washed Out">
        <md-card-content>
          <h2 class="md-title">Doação de Sangue</h2>
          <p>
            Iniciou, no último dia 19, a Campanha de doação de brinquedos novos ou usados do setor de limpeza e conservação. Organizado pela Federação Nacional das Empresas Prestadoras de Serviços de Limpeza e Conservação...
          </p>
        </md-card-content>
       <!--  <div class="md-actions" layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </div> -->
      </md-card>
    </md-content>

  </div>

  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
  <script type="text/javascript">
    System
        .import('src/boot/boot')
        .catch( console.error.bind(console) ); // make sure any errors print to console
  </script>

</body>
</html>
